.score-board {
    display: flex;
}

.score-board > * + * {
    border-left: none;
}

p {
    width: 100%;
    font-family: monospace;
    font-size: 2rem;
}

.new-game-btn {
    background-color: orange;
    border: none;
    color: white;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.new-game-btn:hover {
    background-color: rgb(255, 186, 59);
    cursor: pointer;
}

.new-game-btn:disabled {
    background-color: gray;
    color:black;
}